{% extends 'base.html' %}
{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Sobre</h1>
            <p class="lead fw-normal text-white-50 mb-0">Bem vindo a loja... </p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br></br>
                <p align="justify">
                <br></br>
                Projeto 9: Sistema de Feedback de Produtos
Desenvolva um sistema onde clientes possam avaliar produtos e deixar feedback após a
compra.
<br></br>
● Modelos:
<br>
○ Cliente: registra dados dos clientes, como nome, CPF e e-mail.
</br>
○ Produto: armazena informações dos produtos, como nome, descrição e
preço.
<br>
○ Pedido: registra pedidos realizados por clientes, contendo data e valor total.
</br>
○ Feedback: registra a avaliação e o comentário de um cliente sobre um
produto.
<br></br>
● Funcionalidades:
<br>
○ Registro de pedidos e controle de feedback, onde apenas clientes que
compraram um produto podem avaliá-lo.
</br>
○ Exibição da média de avaliação dos produtos.
<br>
○ Controle de visualização, onde os feedbacks são visíveis para todos os
clientes.
</br>
<br>
● Pergunta problema: Como você implementaria um controle que permita que
apenas clientes que compraram um produto possam avaliá-lo?
</br>
<br></br>
                <br></br>
                </p>
                <br></br>
            </div>
        </center>
    </div>
</div>

{% endblock %}