{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <h1>Avaliar Produto: {{ produto.nome }}</h1>

{% if messages %}
    <div class="alert alert-info">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}

<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="avaliacao" class="form-label">Escolha uma nota (1-5):</label>
        <select name="avaliacao" id="avaliacao" class="form-select">
            <option value="" disabled selected>Selecione uma nota</option>
            {% for i in "12345" %}
                <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>
    </div>
    
    <div class="mb-3">
        <label for="comentario" class="form-label">Comentário (opcional):</label>
        <textarea name="comentario" id="comentario" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Enviar Avaliação</button>
</form>
    </div>
</div>


<br/><br/><br/>
<br/><br/><br/>
<br/><br/><br/>
<br/><br/><br/>
<br/><br/><br/>
<br/><br/><br/>
<br/><br/><br/>
{% endblock %} 